<div class="top">
<h1 class="app_name">RecommenDr.</h1>
<p class="app_description">琉球大学の教授をオススメしよう！</p>
<a class="waves-effect waves-light btn #4caf50 green" onclick="location.href='/timeline'">とりあえず見てみる！</a>
</div>